<header class="header section-wrapper">
    <div class="container text-center">
        <div class="section-gap">
            <h1 class="blog-title pb-base mt-3 fw-bold">
                <a class="blog-link text-decoration-none" href="/">{{ site_setup.title }}</a>
            </h1>

            {% if site_setup.show_description and show_description|default_if_none:True %}
                <p class="blog-description pb-base mt-3">
                    {{ site_setup.description }}
                </p>
            {% endif %}

            {% if site_setup.show_search %}
                <div class="search pb-base">
                    <form class="search-form" action="{% url 'blog:search' %}" method="get">
                        <div class="input-group justify-content-center" style="max-width: 500px; margin: auto;">
                            <input class="form-control" type="search" name="search" id="search-input" placeholder="Search" value="{{ search_value }}">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}

            {% if site_setup.show_search %}
                <nav class="menu">
                    <ul class="nav justify-content-center menu-items">
                        {% for link in site_setup.menulink_set.all %}
                            <li class="nav-item">
                                {% if link.new_tab %}
                                    <a target="_blank" class="nav-link" href="{{ link.url_or_path }}">{{ link.text }}</a>
                                {% else %}
                                    <a class="nav-link" href="{{ link.url_or_path }}">{{ link.text }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
</header>
