<article class="card mb-4 shadow-sm hover-effect" style="transition: transform 0.2s ease, box-shadow 0.2s ease;">
  
  {% if post.cover %}
    <div class="card-cover-wrapper">
      <a href="{% url 'blog:post' post.slug %}" class="text-decoration-none">
        <img 
          class="card-cover img-fluid"
          loading="lazy"
          src="{{ post.cover.url }}" 
          alt="Post cover {{ post.title }}"
        >
      </a>
    </div>
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">
      <a href="{% url 'blog:post' post.slug %}" class="text-decoration-none text-dark link-hover">
        {{ post.title }}
      </a>
    </h5>
    
    <p class="card-text">
      {{ post.excerpt }} 
    </p>
    
    <div class="d-flex justify-content-end">
      <a class="btn text-primary border-0" href="{% url 'blog:post' post.slug %}" style="background-color: transparent;">
        <span>Read</span>
        <i class="fa-solid fa-circle-arrow-right text-primary"></i>
      </a>
    </div>
  </div>

  <style>
    .hover-effect:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    
    .link-hover {
        color: #343a40; /* Cor padrão (preto) */
        transition: color 0.2s ease;
    }

    .link-hover:hover {
        color: #495057; /* Tom mais claro ao passar o mouse */
    }
  </style>
  
</article>
