<article class="card mb-4 shadow-sm hover-effect h-100" style="transition: transform 0.2s ease, box-shadow 0.2s ease;">
  
  {% if post.cover %}
    <div class="card-cover-wrapper">
      <a href="{{ post.get_absolute_url }}" class="text-decoration-none">
        <img 
          class="card-cover img-fluid"
          loading="lazy"
          src="{{ post.cover.url }}" 
          alt="Post cover {{ post.title }}"
        >
      </a>
    </div>
  {% endif %}

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">
      <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark link-hover">
        {{ post.title }}
      </a>
    </h5>
    
    <p class="card-text">
      {{ post.excerpt }} 
    </p>
    
    <!-- Flex-grow to push the button to the bottom -->
    <div class="mt-auto d-flex justify-content-end">
      <a class="btn text-primary border-0" href="{{ post.get_absolute_url }}" style="background-color: transparent;">
        <span>Read</span>
        <i class="fa-solid fa-circle-arrow-right text-primary"></i>
      </a>
    </div>
  </div>

  <style>
    .hover-effect:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    /* Ensure all cards have the same height */
    .card {
        min-height: 150px; /* Adjust this value based on your design */
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px; /* Ensures that the content area of the card remains consistent */
    }

    .link-hover {
        color: #343a40; /* Cor padrão (preto) */
        transition: color 0.2s ease;
    }

    .link-hover:hover {
        color: #495057; /* Tom mais claro ao passar o mouse */
    }
  </style>
  
</article>
