<div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Explanetur igitur.
      Illa videamus, quae a te de amicitia dicta sunt. Equidem etiam Epicurum, in
      physicis quidem, Democriteum puto.
      <b>Idem iste, inquam, de voluptate quid sentit?</b> Duo Reges: constructio
      interrete.
      <a href="http://loripsum.net/" target="_blank">Est enim effectrix multarum et magnarum voluptatum.</a>
    </p>
  
    <p>
      Non risu potius quam oratione eiciendum? Quo plebiscito decreta a senatu est
      consuli quaestio Cn. Quae qui non vident, nihil umquam magnum ac cognitione
      dignum amaverunt.
      <a href="http://loripsum.net/" target="_blank">Poterat autem inpune;</a>
    </p>
  
    <img class="img-fluid" src="https://picsum.photos/1920/1080/?rand=1" alt="Image" />
  
    <p>
      <i>Quo tandem modo?</i>
      <i>Quod ea non occurrentia fingunt, vincunt Aristonem;</i>
      <a href="http://loripsum.net/" target="_blank">Quod autem ratione actum est, id officium appellamus.</a>
      <b>Quid de Pythagora?</b> Quid enim me prohiberet Epicureum esse, si probarem,
      quae ille diceret?
    </p>
  
    <pre class="my_code" data-language="javascript">
      (function () {
        // Should user class="my_code" and data-language="python"
        const codes = document.querySelectorAll('.my_code');
        for (const code of codes) {
          const language = code.dataset.language || null;
          const text = code.textContent || code.innerText;
          const config = {
            value: text,
            tabSize: 2,
            mode: language,
            theme: 'dracula',
            lineNumbers: true,
            readOnly: true,
            viewportMargin: 50,
            matchBrackets: true,
          };
          const editor = CodeMirror(function (node) {
            code.parentNode.replaceChild(node, code);
          }, config);
        }
      })();
    </pre>
  
    <h6>Quis istud, quaeso, nesciebat?</h6>
    <p>
      Ne in odium veniam, si amicum destitero tueri. Sed quot homines, tot
      sententiae;
      <a href="http://loripsum.net/" target="_blank">Ut aliquid scire se gaudeant?</a>
    </p>
    
    <p><img class="img-fluid" src="https://picsum.photos/1920/1080/?rand=2" alt="Image" /></p>
  
    <ul>
      <li>Ratio enim nostra consentit, pugnat oratio.</li>
      <li>Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta.</li>
      <li>
        Manebit ergo amicitia tam diu, quam diu sequetur utilitas, et, si utilitas
        amicitiam constituet, tollet eadem.
      </li>
    </ul>
  
    <blockquote cite="http://loripsum.net" class="blockquote">
      Suis cuiusque sensibus sic, ut, contra si quis dicere velit, non audiatur.
    </blockquote>
  
    <p><img class="img-fluid" src="https://picsum.photos/1920/1080/?rand=3" alt="Image" /></p>
    <p>
      Itaque dicunt nec dubitant: mihi sic usus est, tibi ut opus est facto, fac.
      <code>Bonum liberi: misera orbitas.</code> Ad eas enim res ab Epicuro
      praecepta dantur.
    </p>
  
    <pre>
      Alii rursum isdem a principiis omne officium referent aut ad
      voluptatem aut ad non dolendum aut ad prima illa secundum
      naturam optinenda.
    </pre>
  
    <h2>Summus dolor plures dies manere non potest?</h2>
    <p>
      Bork Equidem, sed audistine modo de Carneade?
      <a href="http://loripsum.net/" target="_blank">Praeteritis, inquit, gaudeo.</a>
    </p>
  
    <blockquote cite="http://loripsum.net" class="blockquote">
      Quae quidem adhuc peregrinari Romae videbatur nec offerre sese nostris
      sermonibus.
    </blockquote>
  </div>
  