{% extends 'blog/base.html' %} 

{% block content %}
<main class="main-content single-post section-wrapper">
  <div class="container">
    <div class="single-post-content">
      {% if post.cover and post.cover_in_post_content %}
        <div class="text-center">
          <img loading="lazy" class="img-fluid" src="{{ post.cover.url }}" alt="{{ post.title }}" style="max-width: 40%; height: auto;">
        </div>
      {% endif %}
      <h2 class="single-post-title text-center pb-3">{{ post.title }}</h2>
      <div class="post-meta d-flex justify-content-center pb-3">
        <div class="post-meta-item me-3">
          <a class="post-meta-link text-decoration-none text-muted" href="{% url 'blog:created_by' post.created_by.pk %}">
            <i class="fa-solid fa-user"></i> 
            {% if post.created_by.first_name %}
              {{ post.created_by.first_name }}
              {{ post.created_by.last_name }}
            {% else %}
              {{ post.created_by.username }}
            {% endif %}
          </a>
        </div>
        <div class="post-meta-item me-3">
          <span class="post-meta-link text-decoration-none text-muted" >
            <i class="fa-solid fa-calendar-days"></i> {{ post.created_at | date:'d/m/Y'}}
          </span>
        </div>
        {% if post.category %}
          <div class="post-meta-item">
            <a class="post-meta-link text-decoration-none text-muted" href="{% url 'blog:category' post.category.slug %}">
              <i class="fa-solid fa-tag"></i> {{ post.category.name }}
            </a>
          </div>
        {% endif %}
      </div>      
      <p class="single-post-excerpt pb-3 text-center" style="margin: 0 auto; max-width: 80%; color: rgb(146, 135, 135); font-style: italic;">
        {{ post.excerpt | safe }}
      </p>
      
      <div class="separator mb-4"></div>
      <div class="post-tags pb-3 text-justify" style="margin: 0 auto; max-width: 80%;">
        {{ post.content | safe }}
        {% if post.tags.exists %}
          <span>Tags: </span>
          {% for tag in post.tags.all %}
            <a class="post-tag-link text-decoration-none text-muted" href="{% url 'blog:tag' tag.slug %}">
            <i class="fa-solid fa-link"></i> {{ tag.name }}
            </a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% endif %}

      </div>      
    </div>
  </div>
</main>
{% endblock content %}
